<h1>About</h1>
<p>Lorizzle............</p>

<div class="row">
  <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-plane"></span>A wonderful community</h3>Blablablalblablb.....
  </div>
  
  <div class="col-md-4">
  	<h3><span class="glyphicon glyphicon-pushpin"></span>Amazing</h3>Blablablalblablb.....
  </div>
  
  <div class="col-md-4">
  	<h3><span class="glyphicon glyphicon-cloud"></span>Security First</h3>Blablablalblablb.....
  </div>
</div>
