<h1>Welcome</h1>
<h2>My name is <%= @website_owner.name %></h2>
<h3>Hair color <%= @website_owner.hair_color %></h3>
<h3><%= @website_owner.catch_phrase %></h3>
<p>The current date in the server is: <%= Time.new.ctime %></p>