<h1>Puns#create</h1>
<fieldset>
   <legend id="pun_info_legend">Pun Info</legend>

   <div class="form-row">
      <label>Pun text</label>
      <textarea class="pun_pun" id="pun" type="text" name="pun" placeholder="Text of pun"></textarea>
   </div>
   <div class="form-row">
      <label>Name</label>
      <textarea class="punster_name" id="name" type="text" name="name" placeholder="Name"></textarea>
   </div>
   <div class="form-row">
      <label>Laugh Rating Number</label>
      <textarea class="pun_rating" id="rating" type="text" name="rating" placeholder="rating number"></textarea>
   </div>
   <button id="new_pun_button">Add Pun</button>
  </fieldset>
