

<h1>Puns by <%= @pun[:person_responsible] %></h1>
<% count = 0 %>
<% @puns.each do |p| %>
  <% if p[:person_responsible] == @pun[:person_responsible] %>
    <ul>
      <li>Pun<%=count%>: <%= p[:pun] %></li>
      <li>Laugh Level: <%= p[:laugh_level] %></li>
    </ul>
    <% count += 1 %>
  <% end %>
<% end %>
