<!DOCTYPE html>
<html>
<head>
  <title>Gulp Practice!</title>

  <!--source in the 1 minified versions, we could have many of these before concat'ing -->
  <link rel="stylesheet" type="text/css" href="/css/application.min.css">
  <script type="text/javascript" src="/js/application.min.js"></script>
</head>
<body>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index333 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <h1>This is the index555 view!</h1>
  <button id="my-button">Button!</button>
  <script>
    document.querySelector('#my-button').addEventListener('click', function(){
      console.log('click!')
    })
  </script>
</body>
</html>

