<!DOCTYPE html>
<html ng-app="candyApp">
<head>
	<title>Candy App</title>
	<!-- BOOTSTRAP -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- ANGULAR -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="candyController as candyCtrl">
<!--navbar will go here-->
<nav-bar>{{candyCtrl.name}}</nav-bar>

<div class="container" >
	<div class="row">
		<h1>Candies!</h1>

		<div>
			Filter Search: <input type="text" ng-model="filterSearch">
		</div>

		<div>
			Sort By:
			<select ng-model="candyOrder">
				<option value="name">Name</option>
				<option value="color">Color</option>
				<option value="price">Price</option>
			</select>
		</div>
		<ul>
			<!--<li ng-repeat="candy in candies | orderBy: '-name':true">{{candy.name}}</li>-->
			<li ng-repeat="candy in candyCtrl.candies | orderBy:candyOrder | filter:filterSearch | limitTo: 10">
				<heading-area>{{candy.name}}</heading-area>
				<info-area>Color: {{candy.color|uppercase}} {{candy.price|currency}}, Fruity: {{candy.fruity | checkmark}}</info-area>
			</li>
		</ul>
	</div>
</div>

<footer-bar></footer-bar>


</body>
</html>